<footer class="container py-5">
  <ul class="list-inline">
    <li class="list-inline-item"> <a href="{{ site.social.linkedin }}" class="text-dark" target="_blank">
        <i class="bi bi-linkedin"></i>
      </a></li>
    <li class="list-inline-item"> <a href="{{ site.social.instagram }}" class="text-dark" target="_blank">
        <i class="bi bi-instagram"></i>
      </a></li>
    <li class="list-inline-item"> <a href="{{ site.social.youtube }}" class="text-dark" target="_blank">
        <i class="bi bi-youtube"></i>
      </a></li>
    <li class="list-inline-item"> <a href="{{ site.social.twitter }}" class="text-dark" target="_blank">
        <i class="bi bi-twitter-x"></i>
      </a></li>
    <li class="list-inline-item"> <a href="/feed.xml" class="text-dark" target="_blank">
        <i class="bi bi-rss"></i>
      </a></li>
  </ul>
  <p class="small">© {{ "now" | date: "%Y" }} {{ site.title }}. Tüm hakları saklıdır.</p>
  <p class="small"><a href="/gizlilik-politikasi" class="text-secondary">Gizlilik Politikası</a> / <a
      href="/kvkk-aydinlatma-metni" class="text-secondary">KVKK Aydınlatma Metni</a></p>
</footer>